<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <include file="$(find ultrasonic_scanner)/launch/ultrasonic_scanner.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="base_frame_2_laser_frame" args="0 0 0 0 0 0 /base_frame /laser_frame 3000"/> 
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ultrasonic_scanner)/rviz_cfg/demo.rviz"/>
</launch>
